/* CSS Generale Body*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat';
}

.container{
  width: 60%;
  margin: 0 auto;
  margin-bottom: 40px;
  max-width: 1200px;
  min-width: 600px;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

/* 
  Inizio CSS Header
*/

/* CSS Header - Titolo*/
/* CSS Header - Logo e Vertical Line*/
#logo{
  width: 160px;
}

#vl{
  border-right: 1px solid #E7E7E7; 
  height: 68px;
  display: inline-block;
  margin-left: 10px;
}

/* CSS Header - Menu*/
header ul{
  list-style: none;
  display: inline-block;
  margin-top: 25px;
}

header li{
  float: left;
}

header li a{
  text-decoration: none;
  margin: 10px 10px 10px 0;
  padding: 5px;
  text-transform: uppercase;
  background-color: white;
  color: #9B9B9B;
}

header li a:hover{
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  border-radius: 10px;
}
/* 
  Fine CSS Header
*/

/* 
  Inizio CSS Main
*/

/* CSS Main - Jumbotron*/
#jumbotron{
  height: 425px;
  background-image: url("../img/banner.jpg");
  background-position: center;
  border-radius: 10px;
  overflow: hidden;
}

#jumbotron-bg{
  background-color: rgba(0, 0, 0, 0.2);
  height: 100%;
}

#jumbotron-bg h4, #jumbotron-bg p{
  color: white;
  margin-left: 40px;
  width: 55%;
}

#jumbotron-bg h4{
  font-size: 30px;
  padding-top: 250px;
}

/* CSS Main - Descrizione*/

/* CSS Main - Descrizione - Contenente*/
#descr-titolo{
  margin-bottom: 20px;
}

#descr-titolo h2{
  font-size: 30px;
}

#descr-titolo p{
  color: #9B9B9B;
}

.icon-size{
  height: 200px;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  overflow: hidden;
}

.icon-color{
  background-color: rgba(0, 0, 0, 0.2);
  height: 100%;
}

.text-title{
  margin: 10px 0;
}

.text{
  color: #9B9B9B;
}

.col,.col-ct{
  float: left;
  margin-bottom: 20px;
}

.col{
  width: 18%;
}

.col-sx{
  margin-right: 2%;
}

.plant{
  background-image: url("../img/img-1.jpg");
}

.col-ct{
  width: 60%;
}

.computer{
  background-image: url("../img/banner-2.jpg");
}

.col-dx{
  margin-left: 2%;
}

.lamp{
  background-image: url("../img/img-3.jpg");
}
/* 
  Fine CSS Main
*/

/* 
  Inizio CSS Footer
*/

/* CSS Footer - Copyright*/
#copyright{
  height: 50px;
  background-color: purple;
}

/* 
  Fine CSS Footer
*/
